/* screen - desktop-homepage */

/* screen - desktop-homepage */

.desktop-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.desktop-homepage .group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/ussinbeautiful-1.png);
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  height: 100%; /* Matches the full height of the parent */
  width: 100%; /* Matches the full width of the parent */
}

.desktop-homepage .overlap-group {
  height: 119px;
  margin-left: 1.0px;
  margin-top: 180px;
  position: relative;
  width: 442px;
}

.desktop-homepage .ussi-chalet_logo-1 {
  height: 89px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 277px;
}

.desktop-homepage .authentic-alpine-living {
  color: var(--white);
  font-family: var(--font-family-inknut_antiqua);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 442px;
}

.desktop-homepage .group-container-1 {
  height: 220px;
  margin-right: 2.0px;
  margin-top: 52px;
  position: relative;
  width: 230px;
}

.desktop-homepage .group-7 {
  height: 105px;
  left: 63px;
  position: absolute;
  top: 115px;
  width: 104px;
}

.desktop-homepage .group-13 {
  cursor: pointer;
  height: 98px;
  left: 0;
  position: absolute;
  top: 0;
  width: 230px;
}

.desktop-homepage .group-14 {
  cursor: pointer;
  height: 98px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 230px;
}

.desktop-homepage .group-21 {
  height: 70px;
  margin-top: 191px;
  width: 1280px;
}
