@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Kantumruy:400,700|Inknut+Antiqua:400,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/67641ddb9dd622189e0bac46.67641ddc9dd622189e0bac49.iQToBC7.hcp.png");

@font-face {
  font-family: "Kannada MN-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/KannadaMN-01.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 1;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 1;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.span1 {
  color: var(--vista-white);
  font-family: var(--font-family-kantumruy);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.ussi-chalet_logo-1 {
  height: 89px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 277px;
}

.group-13, .group-14 {
  display: block !important;
}

.group-13, .group-14 {
  box-sizing: content-box !important;
}

.group-13, .group-14 {
  object-fit: contain !important;
}*/

